.songs_list {
  flex: 1 1 60%;
  display: flex;
  flex-flow: column;
  height: 60vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  justify-content: space-between;
  .loading_div {
    transition: all 0.5s ease-in-out;
  }
}
