.songs_list {
  display: flex;
  flex-flow: column;
  height: 70vh;
  width: 100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  position: relative;
  .loading_div {
    position: absolute;
    height: 100%;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .go_to_search {
    line-height: 70vh;
  }
}
