$player: url('../../img/player.png') no-repeat;
.current_song {
  width: 100%;
  height: 5vh;
  min-height: 36px;
  display: flex;
  flex-flow: row nowrap;
  background: rgba(146, 196, 53, 0.744);
  justify-content: space-around;
  align-items: center;
}

input[type=range] {
  /* 去除默认样式 */
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10px;
}
input[type=range]:focus {
  /* 去除外边框效果 */
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 10px; /*将轨道设为圆角的*/
  background: #CBE028;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  top: -2px;
  background: #fff;
}
input[name=play_range] {
  flex: 10 0 30%;
}
input[name=volume] {
  position: absolute;
  transform: rotate(-90deg);
  width: 50px;
  right: -15px;
  bottom: 45px;
  transition: opacity 0.5s;
  flex: 0 2 5%;
}
.mode {
  width: 26px;
  height: 25px;
  .sequence {
    background: $player 0 -260px;
    width: 21px;
    height: 20px;
  }
  .loop_one {
    background: $player 0 -232px;
    width: 26px;
    height: 25px;
  }
  .loop_list {
    background: $player 0 -205px;
    width: 26px;
    height: 25px;
  }
  .shaffle {
    background: $player 0 -74px;
    width: 26px;
    height: 20px;
  }
}

.play {
	background: $player 0 0;
	width: 21px;
  height: 29px;
  zoom: 0.8;
}

.pause {
	background: $player -30px -2px;
	width: 17px;
	height: 24px;
}
.before {
  background: $player 0 -30px;
	width: 19px;
	height: 20px;
}
.next {
  background: $player 0 -52px;
	width: 19px;
	height: 20px;
}
.audio_bar {
  flex: 0 0 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-self: flex-end;
  font-size: 10px;
  text-align: center;
}
.song_name {
  flex:0 0 70%;
  overflow: hidden;
}
.bitrate {
  flex: 0 0 30%;
}
.volume_icon {
  background: $player 0 -144px;
	width: 24px;
	height: 20px;
}
.volume_mute_icon {
  background: $player 0 -182px;
	width: 26px;
	height: 20px;
}
.hide {
  display: none;
}