.song {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.456);
  /* width: 100%; */
  height: 3vh;
  color: #FFF;
}
.song span {
  flex: 1 1 10%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.song .song_name {
  flex: 2 0 40%;
}
.song .artist_name {
  flex: 1 1 15%;
}
.song span img {
  width: 3vh;
  height: 3vh
}
.song .song_index {
  flex: 0 0 5%;
}
.song .song_index.active {
  background: url('../../img/wave.gif') 10px 5px no-repeat;
  text-indent: -99px;
}