.song {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgba(55, 184, 98, 0.607);
  align-items: center;
  min-height: 37px;
  /* width: 100%; */
  color: rgb(162, 176, 59);
  transition: transform 0.5s ease-in-out;
  transform:none;
  &:hover{
    transform: translateX(-20px);
  }
  margin-top: 1vh;
}
.song span {
  flex: 0 0 36px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  margin-left: 10px;
  &.play {
    background: url('../../img/icon_list_menu.png') no-repeat -80px 0;
    height: 36px;
    &.now{
      background: url('../../img/icon_list_menu.png') no-repeat -80px -200px;
    }
  }
  &.add_play_list {
    background: url('../../img/icon_list_menu.png') no-repeat -80px -80px;
    height: 36px;
  }
  &.delete_from_list {
    background: url('../../img/icon_list_menu.png') no-repeat -80px -160px;
    height: 36px;
  }
  &.download {
    background: url('../../img/icon_list_menu.png') no-repeat -80px -120px;
    height: 36px;
  }
}

.song .song_name {
  flex: 2 0 35%;
}
.song .artist_name {
  flex: 1 1 15%;
}
.song span img {
  width: 3vh;
  height: 3vh
}
.song .song_index {
  flex: 0 0 8%;
  text-align: center
}
.song .song_index.active {
  background: url('../../img/wave.gif') 10px 5px no-repeat;
  text-indent: -99px;
}