.navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  span {
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.2s all linear;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    border: #7D3351 solid 1px;
    border-left: none;
    &.active {
      background: #37B862;
      font-size: 1.1rem;
      box-shadow:  inset -4px 1px 20px 0px #7D3351;
    }
    &.normal {
      background: #92C435;
      font-size: 1rem;
    }
    &:hover {
      font-weight: bolder;
      font-size: 1.1rem;
      box-shadow:  inset -4px 1px 20px 0px #7D3351;
    }
  }
  span:nth-child(1){
    border: #7D3351 solid 1px;
  }
}