.navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 100%;
  overflow: hidden;
  position: relative;
  span {
    text-align: center;
    cursor: pointer;
    position: relative;
    transition: 0.2s all linear;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    border-radius: 30px;
    &.active {
      font-size: 1.1rem;
    }
    &.normal {
      font-size: 1rem;
    }
    &:hover {
      font-weight: bolder;
      font-size: 1.1rem;
      background: #6969696b;
    }
  }
}