.play_list {
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-start;
  height: 75vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch;
  .loading_div {
    transition: all 0.5s ease-in-out;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}