.lyric {
  height: 77vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  ::-webkit-scrollbar {
    display: none;
  }
  .display_lyric {
    background: rgba(128, 128, 128, 0.5);
    font-size: 1.3rem;
    height: 50vh;
    width: 80%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    flex-flow: column nowrap;
    overflow-y: scroll;
    padding: 20px 20px;
    div {
      min-height: 60px;
      transition: all 0.6s linear;
      &.current {
        font-weight: bolder;
        color: rgb(203, 221, 72);
        align-self: center;
        align-content: center;
      }
    }
  }
}
